USE [master]
GO
/****** Object:  Database [QuanLyNhaHang]    Script Date: 4/10/2018 11:12:57 AM ******/
CREATE DATABASE [QuanLyNhaHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhaHang', FILENAME = N'E:\SQLdata\QLNhaHangnew\QuanLyNhaHang.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyNhaHang_log', FILENAME = N'E:\SQLdata\QLNhaHangnew\QuanLyNhaHang_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhaHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhaHang]
GO
/****** Object:  User [DUCIT]    Script Date: 4/10/2018 11:12:57 AM ******/
CREATE USER [DUCIT] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [DUCIT]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [DUCIT]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [DUCIT]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [DUCIT]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [DUCIT]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DUCIT]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [DUCIT]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [DUCIT]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [DUCIT]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [varchar](10) NOT NULL,
	[TANG] [nvarchar](100) NULL,
	[MAPHIEU] [varchar](10) NULL,
 CONSTRAINT [PK__BAN__4033B61A49CD6295] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABP] [varchar](10) NOT NULL,
	[TENBP] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUYC]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUYC](
	[MAPHIEU] [varchar](10) NOT NULL,
	[MAMON] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HDNHAPKHO]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HDNHAPKHO](
	[MAPHIEU] [varchar](10) NOT NULL,
	[MANL] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_HDNHAPKHO] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC,
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](100) NULL,
	[SDT] [varchar](20) NULL,
 CONSTRAINT [PK__KHACHHAN__603F592C5EE1FB60] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONAN](
	[MAMON] [varchar](10) NOT NULL,
	[MANHOMMON] [nchar](10) NULL,
	[TENMON] [nvarchar](100) NULL,
	[DONVITINH] [nchar](10) NULL,
	[GIA] [int] NULL,
 CONSTRAINT [PK_MONAN] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TAIKHOAN] [varchar](20) NULL,
	[MATKHAU] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [varchar](10) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[TENNV] [nvarchar](100) NULL,
	[GT] [nvarchar](10) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MABP] [varchar](10) NULL,
	[LUONG] [int] NULL,
	[DIENTHOAI] [char](12) NULL,
 CONSTRAINT [PK__NHANVIEN__603F5114DBC8A1D1] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMMONAN]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMMONAN](
	[MANHOMMON] [nchar](10) NOT NULL,
	[TENNHOMMON] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHOMMONAN] PRIMARY KEY CLUSTERED 
(
	[MANHOMMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NNLIEU]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NNLIEU](
	[MANL] [varchar](10) NOT NULL,
	[TENNL] [nvarchar](100) NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[MANCC] [varchar](10) NULL,
	[GIA] [int] NULL,
 CONSTRAINT [PK__NNLIEU__603F510E0495250D] PRIMARY KEY CLUSTERED 
(
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEU] [varchar](10) NOT NULL,
	[NGAYVIET] [date] NULL,
	[MANV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUYC]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUYC](
	[MAPHIEU] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NULL,
	[MANV] [varchar](10) NULL,
	[NGAYNHAP] [date] NULL,
	[TONGTIEN] [int] NULL,
 CONSTRAINT [PK__PHIEUYC__F001B941530FB7BA] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [dbo].[cf_Nhanvien]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[cf_Nhanvien] (@manv VARCHAR(10))
RETURNS TABLE
AS

	RETURN (
	SELECT  nhanvien.manv,TENNV, GT FROM dbo.NHANVIEN INNER JOIN dbo.PHIEUNHAP ON PHIEUNHAP.MANV = NHANVIEN.MANV 
	WHERE Nhanvien.Manv=@manv
	)

GO
/****** Object:  UserDefinedFunction [dbo].[DemNv]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DemNv]()
RETURNS TABLE
AS
RETURN (
SELECT dbo.NHANVIEN.mabp,tenbp, COUNT(manv) AS sonv FROM dbo.NHANVIEN , dbo.BOPHAN WHERE BOPHAN.MABP=NHANVIEN.MABP
GROUP BY NHANVIEN.MABP, TENBP 
)
GO
/****** Object:  UserDefinedFunction [dbo].[Thong_keNV]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[Thong_keNV](@tenbp varchar(10))
RETURNS TABLE 
as
	RETURN (SELECT TENBP,COUNT(MANV) AS sonv
	FROM dbo.NHANVIEN INNER JOIN dbo.BOPHAN ON BOPHAN.MABP = NHANVIEN.MABP AND TENBP=@tenbp
	 GROUP BY BOPHAN.MABP,TENBP)

GO
ALTER TABLE [dbo].[BAN]  WITH CHECK ADD  CONSTRAINT [FK_BAN_PHIEUYC] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUYC] ([MAPHIEU])
GO
ALTER TABLE [dbo].[BAN] CHECK CONSTRAINT [FK_BAN_PHIEUYC]
GO
ALTER TABLE [dbo].[CHITIETPHIEUYC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUYC_MONAN] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MONAN] ([MAMON])
GO
ALTER TABLE [dbo].[CHITIETPHIEUYC] CHECK CONSTRAINT [FK_CHITIETPHIEUYC_MONAN]
GO
ALTER TABLE [dbo].[CHITIETPHIEUYC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUYC_PHIEUYC] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUYC] ([MAPHIEU])
GO
ALTER TABLE [dbo].[CHITIETPHIEUYC] CHECK CONSTRAINT [FK_CHITIETPHIEUYC_PHIEUYC]
GO
ALTER TABLE [dbo].[HDNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_HDNHAPKHO_NNLIEU] FOREIGN KEY([MANL])
REFERENCES [dbo].[NNLIEU] ([MANL])
GO
ALTER TABLE [dbo].[HDNHAPKHO] CHECK CONSTRAINT [FK_HDNHAPKHO_NNLIEU]
GO
ALTER TABLE [dbo].[HDNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_HDNHAPKHO_PHIEUNHAP] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEU])
GO
ALTER TABLE [dbo].[HDNHAPKHO] CHECK CONSTRAINT [FK_HDNHAPKHO_PHIEUNHAP]
GO
ALTER TABLE [dbo].[MONAN]  WITH CHECK ADD  CONSTRAINT [FK_MONAN_NHOMMONAN] FOREIGN KEY([MANHOMMON])
REFERENCES [dbo].[NHOMMONAN] ([MANHOMMON])
GO
ALTER TABLE [dbo].[MONAN] CHECK CONSTRAINT [FK_MONAN_NHOMMONAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BOPHAN] FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BOPHAN]
GO
ALTER TABLE [dbo].[NNLIEU]  WITH CHECK ADD  CONSTRAINT [FK_NNLIEU_NHACC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[NNLIEU] CHECK CONSTRAINT [FK_NNLIEU_NHACC]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUYC]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUYC_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUYC] CHECK CONSTRAINT [FK_PHIEUYC_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUYC]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUYC_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUYC] CHECK CONSTRAINT [FK_PHIEUYC_NHANVIEN]
GO
/****** Object:  StoredProcedure [dbo].[DangNhap]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DangNhap](@TaiKhoan VARCHAR(20),@MatKhau VARCHAR(20))
AS
BEGIN
SELECT * FROM dbo.NGUOIDUNG WHERE TAIKHOAN=@TaiKhoan AND MATKHAU=@MatKhau
END;
GO
/****** Object:  StoredProcedure [dbo].[insert_Nhanvien]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[insert_Nhanvien]
	@manv VARCHAR(10),
	@tennv NVARCHAR(100),
	@GT CHAR(3),
	@ngaysinh DATETIME,
	@diachi NVARCHAR(100),
	@Mabp VARCHAR(10),
	@luong INT ,
	@dienthoai VARCHAR(20),
	@email VARCHAR(100)
	as
BEGIN 
	INSERT INTO Nhanvien VALUES (@manv,@tennv,@GT,@ngaysinh,@diachi,@Mabp,@luong,@dienthoai,@email)
END
GO
/****** Object:  StoredProcedure [dbo].[MA_SelectAll]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MA_SelectAll]
AS
BEGIN
SELECT * FROM dbo.MONAN
END;
GO
/****** Object:  StoredProcedure [dbo].[NM_SelectAll]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NM_SelectAll]
AS
BEGIN
	SELECT * FROM dbo.NHOMMONAN
END
GO
/****** Object:  StoredProcedure [dbo].[Se_Nhanvien]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Se_Nhanvien]
AS
BEGIN
SELECT  MANV, TENNV, GT, NGAYSINH, DIACHI, LUONG, DIENTHOAI, EMAIL FROM dbo.NHANVIEN
end
GO
/****** Object:  StoredProcedure [dbo].[SELECT_Bp]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SELECT_Bp] 
as
BEGIN 
	SELECT *FROM dbo.BOPHAN
END


GO
/****** Object:  StoredProcedure [dbo].[SELECT_Gt]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SELECT_Gt]
as
BEGIN 
	SELECT *FROM dbo.NHANVIEN 
END


GO
/****** Object:  StoredProcedure [dbo].[Sp_getIdNhanVien]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_getIdNhanVien] (@id nvarchar(10))
as
begin
	select * from NHANVIEN where MANV=@id
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_getIdNhanVien1]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_getIdNhanVien1] (@id nvarchar(10))
as
begin
	SELECT MANV,TENNV,NGAYSINH,GT,DIENTHOAI,TENBP,DIACHI,LUONG from NhanVien ,BOPHan where NHANVIEN.MABP=BOPHAN.MABP and NHANVIEN.MANV=@id
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_getNhaVien]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_getNhaVien]
as
begin
	SELECT MANV,TENNV,NGAYSINH,GT,DIENTHOAI,TENBP,DIACHI,LUONG from NhanVien ,BOPHan where NHANVIEN.MABP=BOPHAN.MABP
end
GO
/****** Object:  StoredProcedure [dbo].[SuaChiTietDiem]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SuaChiTietDiem](@mahs varchar(10),@mamh varchar(50),@hocky int,@diemhs1 float ,@diemhs2 float,@diemhs3 float,@diemtb float)
as
begin
update ChiTietDiem set DiemHS1=@diemhs1 , DiemHS2= @diemhs2 , DiemHS3=@diemhs3 , DiemTB = @diemtb
       where MaHS=@mahs and MaMH =@mamh and HocKy=@hocky
	   end

GO
/****** Object:  StoredProcedure [dbo].[SuaMA]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SuaMA](@MAMON VARCHAR(10), @MANHOMMON NCHAR(10),@TENMON NVARCHAR(100), @DONVITINH NCHAR(10), @GIA INT)
AS
BEGIN
UPDATE dbo.MONAN
SET MANHOMMON=@MANHOMMON,TENMON=@TENMON,DONVITINH=@DONVITINH,GIA=@GIA
WHERE MAMON=@MAMON
END;
GO
/****** Object:  StoredProcedure [dbo].[SuaNM]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SuaNM](@MANHOMMON VARCHAR(10), @TENNHOMMON NVARCHAR(50))
AS
BEGIN
	UPDATE dbo.NHOMMONAN
	SET TENNHOMMON=@TENNHOMMON
	WHERE MANHOMMON=@MANHOMMON
END
GO
/****** Object:  StoredProcedure [dbo].[ThemChiTietDiem]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemChiTietDiem](@mahs varchar(10),@mamh varchar(50),@hocky int,@diemhs1 float ,@diemhs2 float,@diemhs3 float,@diemtb float)
as
begin

insert into ChiTietDiem(MaHS,MaMH,HocKy,DiemHS1,DiemHS2,DiemHS3,DiemTB) values (@mahs,@mamh,@hocky,@diemhs1,@diemhs2,@diemhs3,@diemtb)
end


GO
/****** Object:  StoredProcedure [dbo].[ThemMA]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemMA](@MAMON VARCHAR(10), @MANHOMMON NCHAR(10),@TENMON NVARCHAR(100), @DONVITINH NCHAR(10), @GIA INT)
AS
BEGIN
INSERT dbo.MONAN
        ( MAMON ,
          MANHOMMON ,
          TENMON ,
          DONVITINH ,
          GIA
        )
VALUES  (@MAMON,@MANHOMMON,@TENMON,@DONVITINH,@GIA)
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemNhanVien]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemNhanVien](@manv varchar(10),@hoten nvarchar(100),@ngaysinh datetime,@gioitinh nvarchar(5),@sdt varchar(12),@mabp varchar(10),@diachi nvarchar(100),@luong int)
as
begin 
	insert into NHANVIEN(MANV,TENNV,NGAYSINH,GT,DIENTHOAI,DIACHI,LUONG)
	values(@manv,@hoten,@ngaysinh,@gioitinh,@sdt,@diachi,@luong)
end
GO
/****** Object:  StoredProcedure [dbo].[ThemNM]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemNM](@MANHOMMON VARCHAR(10), @TENNHOMMON NVARCHAR(50))
AS
BEGIN
	INSERT INTO dbo.NHOMMONAN
	        ( MANHOMMON, TENNHOMMON )
	VALUES  ( @MANHOMMON,@TENNHOMMON )
END
GO
/****** Object:  StoredProcedure [dbo].[TKMaMA]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TKMaMA](@MAMON VARCHAR(10))
AS
BEGIN
SELECT * FROM dbo.MONAN WHERE MAMON=@MAMON
END;
GO
/****** Object:  StoredProcedure [dbo].[XemM]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XemM](@MaPhieu VARCHAR(10))
AS
BEGIN
 SELECT TENMON,SOLUONG,GIA,ThanhTien=(SOLUONG*GIA),MAPHIEU
FROM dbo.MONAN INNER JOIN dbo.CHITIETPHIEUYC ON CHITIETPHIEUYC.MAMON = MONAN.MAMON AND MAPHIEU = @MaPhieu
END;
GO
/****** Object:  StoredProcedure [dbo].[XemTT]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XemTT]
AS
BEGIN
SELECT SUM(A.ThanhTien) TongTien,A.MAPHIEU
FROM dbo.PHIEUYC P,( SELECT TENMON,SOLUONG,GIA,ThanhTien=(SOLUONG*GIA),MAPHIEU
FROM dbo.MONAN INNER JOIN dbo.CHITIETPHIEUYC ON CHITIETPHIEUYC.MAMON = MONAN.MAMON AND MAPHIEU = 'P01') A
WHERE P.MAPHIEU= A.MAPHIEU
GROUP BY A.MAPHIEU
END;
GO
/****** Object:  StoredProcedure [dbo].[XemTT1]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XemTT1](@MaPhieu VARCHAR(10))
AS
BEGIN
SELECT SUM(A.ThanhTien) TongTien,A.MAPHIEU
FROM ( SELECT TENMON,SOLUONG,GIA,ThanhTien=(SOLUONG*GIA),MAPHIEU
FROM dbo.MONAN INNER JOIN dbo.CHITIETPHIEUYC ON CHITIETPHIEUYC.MAMON = MONAN.MAMON AND MAPHIEU = @MaPhieu) A
GROUP BY A.MAPHIEU
END;
GO
/****** Object:  StoredProcedure [dbo].[XoaChiTietDiem]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[XoaChiTietDiem] (@mahs varchar(10),@mamh varchar(50),@hocky int)
 as
 begin
Delete ChiTietDiem
where MaHS =@mahs and MaMH =@mamh and HocKy =@hocky
 end 



 select TenHS , TenMH ,HocKy , DiemHS1 , DiemHS2,DiemHS3 , DiemTB from ChiTietDiem , HocSinh , MonHoc, Lop , Khoi where ChiTietDiem.MaHS = HocSinh.MaHS and ChiTietDiem.MaMH = MonHoc.MaMH and Lop.MaLop =HocSinh.MaLop and Khoi.MaKhoi = Lop.MaKhoi and Khoi.MaKhoi= '1' and Lop.MaLop ='1'
 select TenHS , TenMH ,HocKy , DiemHS1 , DiemHS2,DiemHS3 , DiemTB from ChiTietDiem , HocSinh , MonHoc, Lop , Khoi where ChiTietDiem.MaHS = HocSinh.MaHS and ChiTietDiem.MaMH = MonHoc.MaMH and Lop.MaLop =HocSinh.MaLop and Khoi.MaKhoi = Lop.MaKhoi and Khoi.MaKhoi= '1' and Lop.MaLop ='1'and ChiTietDiem.MaMH = '2'

 

GO
/****** Object:  StoredProcedure [dbo].[XoaMA]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XoaMA](@MAMON VARCHAR(10))
AS
BEGIN
DELETE dbo.MONAN WHERE MAMON=@MAMON
END;
GO
/****** Object:  StoredProcedure [dbo].[XoaNM]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XoaNM](@MANHOMMON VARCHAR(10))
AS
BEGIN
UPDATE dbo.MONAN
SET MANHOMMON = NULL
WHERE MANHOMMON=@MANHOMMON
DELETE dbo.NHOMMONAN
WHERE MANHOMMON=@MANHOMMON
END;
GO
/****** Object:  StoredProcedure [dbo].[XuatNhanvien]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XuatNhanvien]
AS
BEGIN
SELECT @@IDENTITY, MANV, TENNV , TENBP, GT , NGAYSINH ,LUONG , DIACHI, DIENTHOAI, EMAIL FROM dbo.NHANVIEN INNER JOIN dbo.BOPHAN ON BOPHAN.MABP = NHANVIEN.MABP
END


GO
/****** Object:  StoredProcedure [dbo].[xuatnhanvien1]    Script Date: 4/10/2018 11:12:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[xuatnhanvien1]
AS
BEGIN 
	SELECT  STT, MANV, TENNV, TENBP, GT, NGAYSINH , DIACHI , LUONG, DIENTHOAI, EMAIL FROM dbo.NHANVIEN INNER JOIN dbo.BOPHAN ON BOPHAN.MABP = NHANVIEN.MABP
END
GO
USE [master]
GO
